@use "@/style/colors.scss";
@use "@/style/utils.scss";

.Container {
  width: 100%;
  height: 100dvh;
  background-color: rgba($color: #000000, $alpha: 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .Content {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 40%;

    @include utils.viewport(3) {
      width: 90%;
      padding: 1rem;
    }

    .Header {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .Body {
      width: 100%;
      .BreakLine {
        height: 0.125rem;
        background-color: var(--color-border);
        width: 100%;
        margin: 1rem 0;
      }
      .Input {
        display: flex;
        width: 100%;
        flex-direction: column;
        .Label {
          font-size: 0.875rem;
        }

        .InputGroup {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 0.125rem solid var(--color-dark);

          input {
            outline: none;
            border: none;
            font-size: 1.125rem;
            padding: 0 0.5rem;
            width: 90%;
          }

          .IconButton {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.25rem;
            border-radius: 0.25rem;
            cursor: pointer;
            margin-bottom: 0.5rem;
            .Icon {
              width: 1.25rem;
              height: 1.25rem;
              color: var(--color-text-secondary);
            }
          }
        }
      }
    }

    .Error {
      color: var(--color-error);
      font-size: 0.875rem;
      margin-top: 1rem;
      text-align: center;
    }

    .Actions {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin-top: 2rem;

      @include utils.viewport(3) {
        gap: 1rem;
      }

      .Button {
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 0.375rem;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;

        &.Submit {
          background-color: var(--color-primary);
          color: var(--color-light);
        }

        &.Disabled {
          background-color: var(--color-border);
          cursor: not-allowed;
        }

        @include utils.viewport(3) {
          padding: 0.5rem 1rem;
          font-size: 0.875rem;
        }
      }
    }
  }
}
