@use "@/style/colors.scss";
@use "@/style/utils.scss";

.DialogContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 10001;

  .Content {
    background-color: var(--color-card-bg);
    width: fit-content;
    padding: 1.5rem;
    border-radius: 0.5rem;

    .Message {
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--color-text);
      margin-bottom: 2rem;
    }

    .Actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      .Button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;

        &.Submit {
          background-color: var(--color-error);
          color: var(--color-light);
        }
      }
    }
  }
}
