@use "@/style/colors.scss";
@use "@/style/utils.scss";

.NavbarContainer {
  width: 100%;
  position: fixed;
  bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .NavLinks {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 3rem;
    box-shadow: 1px 1px 15px var(--color-primary);

    @include utils.viewport(3) {
      padding: 0.25rem;
    }

    .NavItem {
      display: flex;
      align-items: center;

      .NavLink {
        color: var(--color-text);
        text-decoration: none;
        font-weight: 600;
        font-size: 1.1rem;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        border-radius: 0.25rem;
        gap: 0.25rem;

        .NavIconContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          background-color: transparent;
          &.Logout {
            background-color: var(--color-error);
          }

          .NavIcon {
            width: 1.5rem;
            height: 1.5rem;
            &.LogoutIcon {
              color: var(--color-light);
            }
          }
        }

        &.ActiveNavLink {
          .NavIconContainer {
            background-color: var(--color-primary);
            .NavIcon {
              color: var(--color-light);
            }
          }
        }

        .NavText {
          @include utils.viewport(3) {
            display: none;
          }
        }
      }

      .Divider {
        width: 0.125rem;
        height: 2rem;
        background-color: var(--color-border);
        margin: 0.5rem;
      }
    }
  }
}
