@use "@/style/colors.scss";
@use "@/style/utils.scss";

.NavbarContainer {
  width: 100%;
  position: fixed;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .NavLinks {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 15px var(--color-primary);

    .NavLink {
      color: var(--color-text);
      text-decoration: none;
      font-weight: 600;
      font-size: 1.1rem;
      cursor: pointer;
      position: relative;
      transition: color 0.3s ease;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;

      @include utils.viewport(3) {
        padding: 0.5rem 1rem;
      }

      &::after {
        content: "";
        display: block;
        height: 100%;
        width: 0.125rem;
        background-color: var(--color-border);
        position: absolute;
        right: 0;
        top: 0;
      }

      &.ActiveNavLink {
        &::before {
          content: "";
          position: absolute;
          bottom: -0.25rem;
          left: 50%;
          transform: translateX(-50%);
          width: 85%;
          height: 0.15rem;
          background-color: var(--color-primary);
          border-radius: 0.125rem;
          @include utils.viewport(3) {
            width: 50%;
          }
        }
      }

      .NavIcon {
        width: 1.5rem;
        height: 1.5rem;
      }

      .NavText {
        margin-left: 0.5rem;

        @include utils.viewport(3) {
          display: none;
        }
      }
    }

    .LineBreaker {
      width: 0.125rem;
      height: 2rem;
      background-color: var(--color-border);
      margin: 0 0.75rem;
    }

    .UserSection {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .UserInfo {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        background-color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;

        .UserName {
          font-size: 1.25rem;
          color: var(--color-text);
        }
      }
      .LogoutButton {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.25rem;
        background-color: var(--color-error);
        cursor: pointer;

        .Icon {
          color: white;
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }
}
