@use "@/style/colors.scss";
@use "@/style/utils.scss";

.NavbarContainer {
  width: 100%;
  position: fixed;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .NavLinks {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 15px var(--color-primary);

    .NavLink {
      color: var(--color-text);
      text-decoration: none;
      font-weight: 600;
      font-size: 1.1rem;
      cursor: pointer;
      position: relative;
      transition: color 0.3s ease;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 0.125rem;
        background-color: var(--color-primary);
      }

      &.ActiveNavLink {
        &::after {
          width: 100%;
          margin-top: 0.25rem;
        }
      }

      .NavIcon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .LineBreaker {
      width: 0.125rem;
      height: 2rem;
      background-color: var(--color-border);
      margin: 0 0.75rem;
    }

    .UserSection {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .UserInfo {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        background-color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;

        .UserIcon {
          width: 1.5rem;
          height: 1.5rem;
          background-color: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          border-radius: 50%;
        }
      }
      .LogoutButton {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.25rem;
        background-color: var(--color-error);
        cursor: pointer;

        .Icon {
          color: white;
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }
}
