@use "@/style/colors.scss";
@use "@/style/utils.scss";

.PageContainer {
  width: 100%;
  height: 100dvh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .Content {
    background-color: var(--color-card-bg);
    width: 60%;
    max-height: 95dvh;
    padding: 1.5rem;
    border-radius: 0.5rem;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    // Firefox
    scrollbar-width: none;

    // IE, Edge
    -ms-overflow-style: none;

    @include utils.viewport(3) {
      width: 80%;
    }

    .Header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .Heading {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--color-text);
      }

      .CloseButton {
        background: none;
        border: none;
        cursor: pointer;
        .CloseIcon {
          width: 1rem;
          height: 1rem;
          color: var(--color-text-secondary);
        }
      }
    }

    .Body {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .Label {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        color: var(--color-text);
        font-size: 0.875rem;
      }

      .Input {
        padding: 0.5rem;
        border-radius: 0.25rem;
        border: 1px solid var(--color-border);
        background-color: var(--color-input-bg);
        color: var(--color-text);
        font-size: 1rem;
        width: 100%;
      }

      .List {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;

        .ListItem {
          padding: 0.5rem 1rem;
          border: 1px solid var(--color-border);
          border-radius: 0.25rem;
          color: var(--color-text-secondary);
          cursor: pointer;

          &.ActiveListItem {
            background-color: var(--color-primary);
            color: var(--color-light);
            border-color: var(--color-primary);
          }
        }
      }
    }

    .BreakLine {
      width: 100%;
      height: 0.125rem;
      background-color: var(--color-bg);
      margin: 0.25rem 0;
    }

    .Actions {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;

      .CloseAction,
      .ConfirmAction {
        padding: 1rem;
        border-radius: 0.25rem;
        border: none;
        cursor: pointer;
        font-weight: 600;
        width: 48%;

        @include utils.viewport(3) {
          padding: 0.5rem 1rem;
        }
      }

      .CloseAction {
        background-color: var(--color-bg-secondary);
        color: var(--color-text);
        border: 1px solid var(--color-border);
      }

      .ConfirmAction {
        background-color: var(--color-primary);
        color: var(--color-bg);
      }
    }
  }
}
