@use "@/style/colors.scss";
@use "@/style/utils.scss";

.PageContainer {
  width: 90%;
  margin: 0 auto;
  height: 100vh;

  .Content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5rem;
    gap: 1rem;

    @include utils.viewport(3) {
      padding-bottom: 8rem;
    }

    @include utils.viewport(2) {
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
    }
    @include utils.viewport(3) {
      margin-top: 1rem;
    }

    .ItemContainer {
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;

      @include utils.viewport(3) {
        padding: 0.75rem;
      }

      .ItemHeader {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        height: auto;
        @include utils.viewport(3) {
          justify-content: space-between;
        }

        .ItemHeading {
          font-size: 1.25rem;
          font-weight: 600;
        }

        .ItemStatus {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          background-color: rgba($color: #fbc02d, $alpha: 0.3);
          padding: 0.5rem 0.75rem;
          border-radius: 2rem;

          &.Active {
            background-color: rgba($color: #2e8b57, $alpha: 0.1);

            .StatusIcon {
              background-color: var(--color-success);
            }
            .StatusTitle {
              color: var(--color-primary);
            }
          }

          .StatusIcon {
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 50%;
            background-color: var(--color-warning);
          }

          .StatusTitle {
            font-size: 0.875rem;
            font-weight: 500;
            color: var(--color-text-secondary);
          }
        }
      }

      .ItemContent {
        padding-top: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 1.125rem;

        .TimeDisplay {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;

          .Clock {
            font-size: 4rem;
            font-weight: 700;
            color: var(--color-text);
            @include utils.viewport(3) {
              font-size: 3rem;
            }
          }

          .Date {
            font-size: 1rem;
            font-weight: 500;
            color: var(--color-text-secondary);
          }
        }

        .ButtonContainer {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-top: 2rem;

          .Button {
            padding: 1rem 4rem;
            font-size: 1rem;
            font-weight: 600;
            border: none;
            border-radius: 0.375rem;
            cursor: pointer;
            color: var(--color-light);
            background-color: var(--color-primary);
            transition: background-color 0.3s ease;

            @include utils.viewport(3) {
              padding: 0.75rem 1.5rem;
            }

            &.Disable {
              background-color: grey;
              cursor: not-allowed;
              pointer-events: none;
              opacity: 0.6;
            }

            &:disabled {
              background-color: grey;
              cursor: not-allowed;
              pointer-events: none;
              opacity: 0.6;
            }
          }
        }

        .HistoryLog {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .LogAction {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .LogIconContainer {
              width: 2rem;
              height: 2rem;
              border-radius: 50%;
              background-color: rgba($color: #1976d2, $alpha: 0.2);
              display: flex;
              align-items: center;
              justify-content: center;

              &.LogInIcon {
                background-color: rgba($color: #2e8b57, $alpha: 0.2);
              }

              &.LogOutIcon {
                background-color: rgba($color: #d32f2f, $alpha: 0.2);
              }

              &.LogTotalIcon {
                background-color: #1a4d2e;
              }

              .LogIcon {
                width: 1rem;
                height: 1rem;

                color: var(--color-text);

                &.LogIn {
                  color: var(--color-success);
                }
                &.LogOut {
                  color: var(--color-error);
                }
                &.TotalIcon {
                  color: #fff;
                }
              }
            }
          }

          .LogTime {
            &.NoActivity {
              color: var(--color-error);
            }
          }
        }

        .BreakLine {
          width: 100%;
          height: 0.125rem;
          background-color: var(--color-bg-alt);
        }
      }

      &.ClockInOut {
        width: 60%;
        @include utils.viewport(2) {
          width: 80%;
        }
        @include utils.viewport(3) {
          width: 98%;
        }
      }

      &.History {
        width: 40%;
        @include utils.viewport(2) {
          width: 80%;
        }
        @include utils.viewport(3) {
          width: 98%;
        }
      }
    }
  }
}
