@font-face {
  font-family: "StackSansText";
  src: url("./assets/fonts/StackSansText-VariableFont_wght.ttf");
  src:
    url("./assets/fonts/StackSansText-VariableFont_wght.ttf?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/StackSansText-VariableFont_wght.ttf") format("woff"),
    url("./assets/fonts/StackSansText-VariableFont_wght.ttf") format("truetype"),
    url("FileName.svg#Montserrat") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Fredoka";
  src: url("./assets/fonts/Fredoka-VariableFont_wdth,wght.ttf");
  src:
    url("./assets/fonts/Fredoka-VariableFont_wdth,wght.ttf?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Fredoka-VariableFont_wdth,wght.ttf") format("woff"),
    url("./assets/fonts/Fredoka-VariableFont_wdth,wght.ttf") format("truetype"),
    url("FileName.svg#Montserrat") format("svg");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: StackSansText;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8faf9;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: transparent;
}

input {
  outline: none;
  background-color: transparent;
  font-family: StackSansText;
}
