$light:#fff;
$dark:#000;
$primary:#1A4D2E;
$danger:#DD5746;
$softWhite: #F5EFE6;
$boxShadow:-5px 10px 10px rgb(195, 195, 195);

$breakpoint-small: 600px;
$breakpoint-medium: 990px;
$breakpoint-large: 1200px;



html{
    font-size: 62.5%;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.admin__container{
    width: 100%;
    background: $softWhite;
    min-height: 100vh;
    position: relative;
    .admin__content{
        width: 100%;
        padding:30rem 0 10rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .admin__header{
            width: 100%;
            position: fixed;
            top: 0;
            background: $softWhite;
            padding: 3rem 0;
            border-bottom: .5rem solid $light;
            .admin__header_info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 950px !important;
                margin: 0 auto;
                @media (max-width: $breakpoint-medium) {
                    max-width: 350px !important;
                    margin: 0 auto;
                  }
                .header__thumbnail{
                    font-size: 3rem;
                    font-weight: 600;
                }
                .header__back{
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $light;
                    border: .2rem solid $danger;
                    .header__back_icon{
                        font-size: 2rem;
                        color: #DD5746;
                    }
                }
            }
            .admin__header_nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 950px !important;
                margin: 0 auto;
                padding-top: 3rem;
                @media (max-width: $breakpoint-medium) {
                    max-width: 350px !important;
                    margin: 0 auto;
                  }
                .nav__item{
                    display: flex;
                    gap: 3rem;
                    align-items: center;
                    .nav{
                        font-size: 2rem;
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50% ;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.active{
                            background: $danger;
                            color: $light;
                        }
                        &.unactive{
                            background: $light;
                            color: $danger;
                        }
                    }
                    .icon{
                        padding: 1rem 4rem;
                        background: $primary;
                        font-size: 2rem;
                        border-radius: .5rem;
                        color: $light;
                    }
                }
            }
            .search{
                max-width: 950px !important;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 1rem;
                // background: $light;
                border-bottom: .2rem solid $dark;
                padding: 5rem 0 .5rem 0;
                @media (max-width: $breakpoint-medium) {
                    max-width: 350px !important;
                    margin: 0 auto;
                  }
                input{
                    outline: none;
                    border: none;
                    width: 80%;
                    background: none;
                    font-weight: 600;
                }
                .clear{
                    font-size: 2rem;
                }
            }
        }
        .admin__manage{
            width: 100%;
            max-width: 950px !important;
            margin: 0 auto;
            @media (max-width: $breakpoint-medium) {
                max-width: 350px !important;
                margin: 0 auto;
              }
            .manage__content{
                width: 100%;
                .manage__item{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .item__users{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        gap: 3rem;
                        .user{
                            @media (max-width: $breakpoint-medium) {
                                width: 100%;
                              }
                            width: 40%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            background: $light;
                            padding: 2rem 3rem;
                            border-radius: 1rem;
                            box-shadow: $boxShadow;
                            .user__info{
                                display: flex;
                                flex-direction: column;
                                gap: 2rem;
                                .user__name{
                                    font-size: 2rem;
                                    font-weight: 600;
                                }
                                .user__role{
                                    font-size: 1.5rem;
                                    font-weight: 600;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    .text{
                                        background: $light;
                                        padding: .3rem 2rem;
                                        color: $primary;
                                        border-radius: .5rem;
                                        border: .2rem solid $primary;
                                    }
                                }
                            }
                            .user__btns{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                gap: 3rem;
                                .user__btn{
                                    width: 3rem;
                                    height: 3rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 1.5rem;
                                    border-radius: .5rem;
                                    &.delete{
                                        color: $light;
                                        background: $danger;
                                    }
                                    &.edit{
                                        color: $light;
                                        background: $primary;
                                    }
                                }
                            }
                        }
                    }
                    .item__work{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        // justify-content: space-between;
                        gap: 2rem;
                        @media (max-width: $breakpoint-medium) {
                            gap: 5rem;
                          }
                        .work{
                            @media (max-width: $breakpoint-medium) {
                                width: 100%;
                              }
                            width: 25%;
                            background: $light;
                            padding: 2rem 3rem;
                            border-radius: 1rem;
                            box-shadow: $boxShadow;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            gap: 2rem;
                            .work__user{
                                font-size: 2rem;
                                font-weight: 900;
                                color: $light;
                                background: $primary;
                                padding: .5rem 2rem;
                                border-radius: .5rem;
                            }
                            .work__info{
                                width: 100%;
                                background: $softWhite;
                                padding: 1rem;
                                border-radius: .5rem;
                                display: flex;
                                flex-direction: column;
                                gap: 1rem;
                                .item{
                                    display: flex;
                                    align-items: flex-end;
                                    justify-content: space-between;
                                    .title{
                                        font-size: 2rem;
                                    }
                                    .number{
                                        font-size: 2rem;
                                        font-weight: 600;
                                        &.fixed{
                                            font-size: 1.5rem;
                                        }
                                    }
                                }
                            }
                            .work__controller{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-evenly;
                                .control__item{
                                    width: 30%;
                                    padding: 1rem 0;
                                    font-size: 1.5rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: .5rem;
                                    &.edit{
                                        color: $light;
                                        background: $primary;
                                    }
                                    &.delete{
                                        background: $danger;
                                        color: $light;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .alert{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        .alert__content{
            position: relative;
            background: $light;
            padding: 3rem 6rem;
            // width: 20%;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            border-radius: 1rem;
            .item__input{
                display: flex;
                flex-direction: column;
                .item__input_lable{
                    font-size: 2rem;
                    font-weight: 600;
                }
                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    border-bottom: .2rem solid $dark;
                    font-size: 1.5rem;
                    padding: 1rem 1.5rem;
                    font-weight: 600;
                }
                &.role{
                    width: 100%;
                    .role__option{
                        display: flex;
                        align-items: center;
                        gap: 5rem;
                        margin-top: 2rem;
                        width: 100%;
                        justify-content: space-between;
                        .role__option_item{
                            display: flex;
                            align-items: center;
                            .option__lable{
                                font-size: 1.5rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
            .item__group{
                display: flex;
                align-items: center;
                // gap: 3rem;
                justify-content: space-between;
                .item__input{
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    .item__input_lable{
                        font-size: 2rem;
                        font-weight: 600;
                    }
                    input{
                        width: 100%;
                        border: none;
                        outline: none;
                        border-bottom: .2rem solid $dark;
                        font-size: 1.5rem;
                        padding: 1rem 1.5rem;
                        font-weight: 600;
                    }
                    &.role{
                        width: 100%;
                        .role__option{
                            display: flex;
                            align-items: center;
                            gap: 5rem;
                            margin-top: 2rem;
                            width: 100%;
                            justify-content: space-between;
                            .role__option_item{
                                display: flex;
                                align-items: center;
                                .option__lable{
                                    font-size: 1.5rem;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
            .error-message{
                font-size: 1.5rem;
                text-align: center;
                color: $danger;
                font-weight: 600;
            }
            .btns__container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 3rem;
                .item__btn{
                    width: 45%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .text{
                        width: 15rem;
                        height: 4rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.5rem;
                        border-radius: .5rem;
                        text-transform: uppercase;
                        font-weight: 900;
                        &.close{
                            background: $light;
                            color: $primary;
                        }
                        &.create{
                            background: $primary;
                            color: $light;
                        }
                    }
                }
            }
        }
    }
}